body {
    padding-top: 70px;
}

.jumbotron {
    color:  #f9f0e5;
    background: #384038;
}

.navbar-inverse {
    background: #292f29;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f9f0e5;
}

.navbar-inverse .navbar-brand {
    color: #f9f0e5;
}

p {
    color: #fde4c7;
}